@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  /*  Light Theme */
  --page-bg-color-light: #dadada;
  --page-bg-color-highlight-light: #a8a8a8;
  --text-color-light: #222222;
  --text-color-highlight-light: #5d5d5d;
  /*  Dark Theme */
  --page-bg-color-dark: #222222;
  --page-bg-color-highlight-dark: #5d5d5d;
  --text-color-dark: #dadada;
  --text-color-highlight-dark: #a8a8a8;

  /*  Theme agnostic variables  */
  --text-standard-font-family: 'Open Sans', sans-serif;
  --text-standard-font-size: 1.25rem;
  --text-large-font-size: 1.75rem;
  --text-larger-font-size: 2.25rem;

  --accent1-color: #D9E9B4;
  --accent2-color: #629094;
  --accent3-color: #99847e;

  /*  Variables to be accessed by other styles (default light)  */
  --page-bg-color: var(--page-bg-color-light);
  --page-bg-color-highlight: var(--page-bg-color-highlight-light);
  --text-color: var(--text-color-light);
  --text-color-highlight: var(--text-color-highlight-light);
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background-color: var(--page-bg-color);
}

.App {
  min-height: 100vh;
  color: var(--text-color);
  font-family: var(--text-standard-font-family);
}