.NumberSelector_numberoption {
    text-align: center;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: calc(33% - 2px);
    background-color: var(--page-bg-color-highlight);
    border: 1px solid var(--accent1-color);
    border-radius: 5px;
    font-size: var(--text-larger-font-size);
    aspect-ratio: 1;

    /*  https://www.w3schools.com/howto/howto_css_disable_text_selection.asp    */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.NumberSelector_numberoption:hover {
    background-color: var(--accent1-color);
    cursor: pointer;
}
.NumberSelector_container {
    width: 10%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media only screen and (max-width: 830px) {
    .NumberSelector_container {
        display: inline-flex;
        justify-content: center;
        width: 100%;
    }
    .NumberSelector_numberoption {
        flex-basis: auto;
    }
}